.prodcard {
  width: 250px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prodcard_img {
  cursor: pointer;
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prodcard_img img:last-child {
  position: absolute;
  padding: 10px;
  height: 200px;
  opacity: 0;
}
.prodcard_img:hover img:last-child {
  opacity: 1;
  transition: opacity 0.5s;
}
.prodcard_img img:first-child {
  opacity: 1;
  transition: opacity 0.5s;
}
.prodcard_img:hover img:first-child {
  opacity: 0;
  transition: opacity 0.5s;
}
.prodcard_div {
  width: 100%;
}
.prodcard_list {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.prodcard_item {
  display: flex;
  flex-direction: column;
}
.prodcard_item span:last-child {
  padding-left: 20px;
}
.prodcard_item span:first-child {
  color: rgb(158, 152, 152);
}
.prodcard_btn {
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
}