.itemcart {
  width: 250px;
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  /* align-items: center;
  justify-items: center; */
  place-items: center;
  gap: 10px;
}

.itemcart_title {
  grid-column: span 3;
}
.itemcart_buttons {
  display: flex;
 }
.itemcart_buttons > span {
 padding: 0  10px;
}
.itemcart_total {
  grid-column: span 3;
}