*,
*::before,
*::after  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: rgb(56, 47, 47);
  color: beige;
}

img {
  max-width: 100%;
  display: inline-block;
  max-height: 100%;
  object-fit: contain;
}

ul {
  list-style: none;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

input, button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

button {
  border: none;
  padding: 3px 9px;
  border-radius: 3px;
  transition: transform .25;
}

button:hover {
  transform: scale(1.1);
  transition: transform .25;
}